@viewport {
  width: device-width;
  zoom: 1;
}

.container {
  padding: 16px;
  background-color: #b3b3b3;
}

form {
  position: relative;
  margin-bottom: 500px;
}
/* Clear floats */
.clearfix::after {
  content: '';
  clear: both;
  display: table;
}
.cancelUP {
  padding: 14px 20px;
  background-color: #f44336;
}
.signupbtnn {
  background-color: #4caf50;
}
.cancelUP,
.signupbtnn {
  float: left;
  width: 50%;
  height: auto;
}

@media screen and (max-width: 600px) {
  .cancelUP,
  .signupbtnn {
    width: 100%;
  }
}
